body{
  margin:0%;
  text-align:center;
}
.top{
    background-color:yellow;
    height:100px;
    width:100px;
    display:inline-block;
    
  }
  
  .middle{
   background-color:blue;
    height:100px;
    width:100px;
    display:inline-block;
    position: absolute;
    left: 100px;
    top:100px;
  }
  
  .bottom{
    background-color:red;
    height:100px;
    width:100px;
    display:inline-block;
    position: absolute;
    left: 200px;
    top:200px;
  }